$menu-color: #3d3d3d;

//declaro mixin para reutilizar
@mixin header-link{
        color: $menu-color;
        text-decoration: none;
        letter-spacing: 2px;
}


@mixin header-border($size:2px){
    border-bottom: solid $size $menu-color;
}


.header {
    background-color: rgb(77, 141, 197);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px, 30px;
    height: 80px;

    &__logo {
        @include header-link()
    }
    &__nav-list {
        display: flex;
        list-style: none;
        column-gap: 20px;
        flex-wrap: wrap;
    }

    &__item-link {
       @include header-link;

       //estilo activo
       &--is-active{
        @include header-border($size: 3px)
       }

       &:hover{
        @include header-border()
       }
    }
}

/* ... Otros estilos */

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; /* Para alinear a la derecha */
  }
  
  .search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  